@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&family=Poppins:wght@600&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.6;
}

h1,
h2,
h3 {
   font-family: "Poppins", sans-serif;
   font-weight: 600;
}

a {
   text-decoration: none;
}

ul {
   list-style-type: none;
}

.btn {
   cursor: pointer;
   outline: 0;
   border: 0;
   border-radius: 50px;
   font-family: inherit;
   font-size: 1.5rem;
   display: inline-block;
   padding: 15px 30px;
}

.btn-pink {
   background-color: hsl(322, 100%, 66%);
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.13);
   color: #fff;
   font-size: 1.5rem;
}

.btn-white {
   background-color: #fff;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.13);
   color: hsl(192, 100%, 9%);
   font-weight: 700;
}

.container {
   max-width: 100%;
   width: 1140px;
   margin: 0 auto;
   padding: 0 20px;
}

.row {
   display: flex;
}

.col {
   flex: 1;
}

.justify-center {
   justify-content: center;
}

/* HEADER */

.header {
   background-color: hsl(193, 100%, 96%);
   background-image: url("./images/bg-hero-desktop.svg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding-bottom: 50px;
   min-height: 100vh;
}

.nav {
   padding: 20px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   display: block;
   max-width: 100%;
   width: 150px;
}

.nav .btn-white {
   padding: 15px 60px;
}

.nav .btn:hover {
   background-color: hsl(322, 100%, 66%);
   color: #fff;
}

.row-hero {
   margin-top: 75px;
   align-items: center;
}

.row-hero .col:first-child {
   width: 100%;
   max-width: 510px;
   padding-right: 50px;
}

.row-hero p {
   margin: 20px 0 30px;
   color: hsl(192, 100%, 9%);
}

.row-hero .btn-pink {
   padding: 20px 40px;
}

.row-hero .hero-image {
   display: block;
   max-width: 100%;
}

/* MAIN */
.main {
   background-color: #fff;
   padding: 150px 0 0;
}

.row-features {
   flex-direction: column;
}

.row-features > .col {
   margin-bottom: 50px;
}

.row-features .card {
   padding: 50px 30px;
   display: flex;
   align-items: center;
   border-radius: 10px;
   box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
}

.row-features .card > div {
   flex: 1;
}

.row-features .card div:last-child {
   padding-left: 50px;
   padding-right: 10px;
}

.row-features .card-text {
   padding: 0 25px 0 50px;
}

.row-features .card-text h2 {
   margin-bottom: 15px;
}

.row-features .card-text p {
   color: hsl(208, 11%, 55%);
}

.row-features .card-img {
   display: block;
   max-width: 100%;
   width: 350px;
}

.row-features .col:nth-child(odd) .card-img {
   margin-left: auto;
}

.row-features .col:nth-child(even) .card-img-container {
   padding-left: 25px;
}

.box-overlay {
   background-color: #fff;
   max-width: 600px;
   padding: 50px 25px 40px;
   text-align: center;
   margin-top: 50px;
   transform: translateY(80px);
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
}

.box-overlay h2 {
   margin-bottom: 20px;
}

.box-overlay .btn {
   padding: 20px 60px;
}

/* FOOTER */
.footer {
   background-color: hsl(192, 100%, 9%);
   color: hsl(193, 100%, 96%);
   padding: 150px 0 50px;
}

.footer-logo {
   display: block;
   width: 180px;
   height: auto;
   margin-bottom: 30px;
}

.grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px;
}

.address-container li {
   display: flex;
}

.address-container li {
   margin-bottom: 20px;
}

.address-container li i {
   display: block;
   margin-right: 20px;
   line-height: inherit;
}

.address-container li p {
   font-size: 1.35rem;
}

.link-container {
   display: flex;
}

.link-container > ul {
   flex: 1;
   margin: 0 20px;
}

.link-container ul li {
   margin-bottom: 15px;
}

.link-container ul li a {
   color: hsl(193, 100%, 96%);
   font-size: 1.4rem;
}

.social-media-container {
   display: flex;
}

.social-media-icon {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 1px solid hsl(193, 100%, 96%);
   color: hsl(193, 100%, 96%);
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin: 0 10px;
}

.social-media-icon i {
   font-size: 1.5rem;
}

.text-copyright {
   text-align: right;
   font-size: 1.2rem;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
   .container {
      padding: 0 25px;
   }

   /* HEADER */
   .row-hero {
      flex-direction: column;
      text-align: center;
   }

   .row-hero .col:first-child {
      width: 100%;
      padding-right: 0;
      margin-bottom: 50px;
   }

   .row-hero .hero-image {
      max-width: 100%;
      width: 500px;
      margin: 0 auto;
   }

   /* MAIN */
   .row-features .card {
      flex-direction: column;
      text-align: center;
   }

   .row-features .col:nth-child(odd) .card-img {
      margin: 0;
   }

   .row-features .col:nth-child(odd) .card .card-img {
      order: 1;
   }

   .row-features .col:nth-child(odd) .card .card-text {
      order: 2;
   }

   .row-features .col:nth-child(even) .card-img-container {
      padding: 0;
   }

   .row-features .card-text {
      padding: 0 25px;
   }

   .row-features .card-text h2 {
      margin-top: 50px;
      margin-bottom: 25px;
   }

   .row-features .card div:last-child {
      padding: 0 25px;
   }

   /* FOOTER */
   .footer-logo {
      width: 14rem;
   }

   .grid {
      grid-template-columns: repeat(2, 1fr);
   }

   .social-media-container {
      grid-column: 1 / 3;
      justify-content: center;
   }

   .text-copyright {
      margin-top: 20px;
      text-align: center;
   }
}

@media screen and (max-width: 578px) {
   /* HEADER */
   .nav .btn-white {
      font-size: 1.3rem;
      padding: 10px 20px;
   }

   .logo {
      width: 100px;
   }

   .row-hero .btn-pink {
      font-size: 1.5rem;
      padding: 15px 35px;
   }

   .row-hero h1 {
      font-size: 2.5rem;
   }

   .row-hero p {
      padding: 0 10px;
      font-size: 1.5rem;
   }

   /* MAIN */
   .main {
      padding: 120px 0 0;
   }

   .row-features .card-text h2 {
      font-size: 2.2rem;
   }

   .row-features .card-text p {
      font-size: 1.5rem;
      padding: 0;
   }

   .row-features .card-img {
      width: 250px;
   }

   .box-overlay h2 {
      font-size: 1.9rem;
      margin-bottom: 20px;
   }

   .box-overlay .btn {
      font-size: 1.4rem;
      padding: 15px 30px;
   }

   .box-overlay {
      margin-top: 20px;
   }

   /* FOOTER */
   .grid {
      grid-template-columns: 1fr;
      gap: 25px;
   }

   .link-container {
      grid-column: 1 / -1;
   }

   .link-container {
      display: flex;
      flex-direction: column;
   }

   .link-container > ul {
      margin: 0;
   }

   .social-media-container {
      margin-top: 25px;
   }
}
